<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block page_title %} {% endblock %}</title>

    {% block styles %} {% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

</head>
<body>

<div class="container">
    {% if user.is_authenticated %}
        خوش آمدید {{ user.username }} | <form action="{% url 'account_logout' %}">
    {% csrf_token %}
    <button type="submit">خروج</button>
    </form>
    {% else %}
        <span><a href="{% url 'account_login' %}">Login</a>|<a href="{% url 'account_signup' %}">Sign Up</a></span>
    {% endif %}
</div>

<div class="container mt-3">

    {% block content %}


    {% endblock %}

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>

</body>
</html>