{% extends '_base.html' %}


{% block page_title %}Home {% endblock %}

{% block content %}

    <h1>Home Page</h1>

    {% if user.is_authenticated %}
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <input type="submit" value="خروج">
        </form>
    {% else %}
        <span><a href="{% url 'account_login' %}">ورود</a>|<a href="{% url 'account_signup' %}">ثبت نام</a> </span> <br>
    {% endif %}

    <a href="{% url 'product_list' %}">لیست محصولات</a> <br>
    <a href="{% url 'aboutus' %}">درباره ما</a>


{% endblock %}